body {
  background-color: green;
}

.container {
  background-color: aqua;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Card {
  margin: 1vh;
  padding: 3vh;
  background-color: rgb(227, 219, 234);
  width: auto;
  height: auto;
  text-align: center;
}
.title {
  font-size: 5vh;
}

.description {
  width: 20vw;
}

.imgs {
  position: relative;
  bottom: 0vh;
  background-color: bisque;
  height: 20vw;
}
